@using KraftHeinz.Repositories
@using KraftHeinz.Extensions
@using KraftHeinz.Templates

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var identity = IdentityRepository.Get(Model.Item);
    if (identity == null)
    {
        return;
    }
    //var homeUrl = Sitecore.Context.Site?.GetStartItem()?.GetUrl() ?? "/";
    var homeUrl = "/";
}

<a class="navbar-brand" href="@homeUrl">
    @*<span class="logo">*@
        @Html.Sitecore().ImageField(IdentityTemplates.Identity.Fields.Logo.ToString(), identity, cssClass: "img-responsive")        
    @*</span>*@
</a>