.bg-dark {
  background: #424C5F;
  color: #fff; }

.bg-sky {
  background: #d8f3ff; }

header {
  height: 98px; }

footer {
  background: none #424C5F;
  border-top: 3px solid #00a7ea;
  color: #fff;
  height: 60px;
  padding: 15px 0; }

.promo-card .promo-destination {
  text-decoration: none; }

.promo-card .promo-text, .promo-card .promo-image {
  width: 45%;
  display: inline-block; }

.promo-card .promo-text {
  vertical-align: top; }
  .promo-card .promo-text .promo-description {
    font-weight: bold; }
  .promo-card .promo-text .promo-title {
    font-size: 25px;
    font-weight: bold; }

.carousel {
  margin-left: -15px;
  margin-right: -15px; }
  .pagemode-edit .carousel .carousel-slide {
    margin-bottom: 10px; }
  .carousel .carousel-slide .carousel-image {
    width: 100%; }

