<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!--<insertRenderings>
        <processor patch:before="*[@type='Sitecore.Pipelines
            .InsertRenderings.Processors.EvaluateConditions, Sitecore.Kernel']"
            type="KraftHeinz.MakeItMio.Website.Pipelines.ResolveQueryableDatasources, KraftHeinz.MakeItMio.Website"/>
      </insertRenderings>-->
          <getRenderingDatasource>
            <processor patch:before="*[@type='Sitecore.Pipelines
          .GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
                type="KraftHeinz.Pipelines.GetQueryableDatasourceLocation, KraftHeinz.Pipelines" />
          </getRenderingDatasource>
    </pipelines>
  </sitecore>
</configuration>