@using KraftHeinz.Features.Models.Media
@using KraftHeinz.Extensions
@using KraftHeinz.Templates
@using Sitecore.Data.Items

@model Sitecore.Mvc.Presentation.RenderingModel

<div class="carousel">
    @foreach (Item slide in Model.Item.Children)
    {
        @Html.Action("CarouselSlide", "MediaFeature", new { model = slide });
    }

    @Html.Sitecore().DynamicPlaceholder("slides")

</div>

<script type="text/javascript">
    $(document).ready(function () {

        if (!$('body').hasClass('pagemode-edit')) {
            $('.carousel').slick({
                autoplay: true,
                dots: true
            });
        }
    });
</script>
