@using KraftHeinz.Extensions
@using KraftHeinz.Templates

@model Sitecore.Mvc.Presentation.RenderingModel

<div class="carousel-slide">
    <div class="carousel-slide-content">
        <div>
            @Html.Sitecore().ImageField(MediaTemplates.HasMedia.Fields.Image.ToString(), Model.Item, cssClass: "img-responsive carousel-image")
        </div>
    </div>
</div>