@using KraftHeinz.Features.Models.Media


@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var carouselSlides = CarouselRenderingModel.GetCarouselSlides(Model);
}

<div class="carousel">
    @foreach (var slide in carouselSlides)
    {
        @Html.Sitecore().ViewRendering("CarouselSlide",slide)
    }

    @Html.Sitecore().DynamicPlaceholder("slides")

</div>

<script type="text/javascript">
    $(document).ready(function () {

        if (!$('body').hasClass('pagemode-edit')) {
            $('.carousel').slick({
                autoplay: true,
                dots: true
            });
        }
    });
</script>
