@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="footer-left col-sm-8">
        @Html.Sitecore().Placeholder("footernavigation")
        @Html.Sitecore().Placeholder("copyright")
</div>

<div class="footer-right col-sm-4">
    @Html.Sitecore().Placeholder("socialmenu")
</div>