
footer {
    background: none $color-background;
    border-top: 3px solid $color-primary;
    color: $color-white;
    height: 95px;
    padding: 15px 0;

    .copyright {
        margin-left: 15px;
    }

    .nav.navbar-nav {
        li {
            > a {
                color: $color-white;
                font-weight: bold;

                &:hover {
                    color: $color-primary;
                    background: none;
                }
            }
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        height: auto;
        .nav.navbar-nav {
            li {
                float: left;
                > a {
                    padding: 12px;
                }
            }
        }
        
        .footer-right {
            width: 200px; 
        }

        .footer-left {
            width: 545px;
        }

        .copyright {
            margin-left: 0;
        }
    }
        /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .nav.navbar-nav {
            li {
                > a {
                    padding: 5px;
                }
            }
        }
        
        .footer-left {
            max-width: 345px;
            width: 100%;
        }

        .footer-right {
            width: 160px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .footer-left {
            max-width: 260px;
            width: 100%;

            a {
                font-size: 10px;
            }
        }


    }

}